// Abstracts
@use "../abstracts" as *;

/* Layouts : Footer */
.footer {
    background: var(--theme-section-bg);
    height: 50px;
    border-top: 1px solid var(--theme-line-color);
}
.footer__text {
    color: var(--theme-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    position: relative;
    a {
        color: var(--theme-title-color);
        font-weight: $semibold;
    }
}
@include breakpoint-min(ss-var($breakpoints, "1024")) {
    #footer {
        a:hover {
            color: $lightblue;
            text-decoration: underline;
        }
    }
    .footer__text {
        flex-direction: row;
        justify-content: space-between;
    }
}